.top-margin {
  margin-top: 100px;
}

#status-message {
  color: red;
}

td {
  text-align: center;
}

#vote-count {
  margin-top: 50px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

tr {
  border-top: 1px solid #ccc;
}
